apiVersion: v1
kind: Service
metadata:
  name: tsm-agent
  labels:
    app.kubernetes.io/name: tsm-agent
spec:
  type: {{ .Values.tsmAgent.service.type }}
  ports:
    - port: {{ .Values.tsmAgent.service.port }}
      targetPort: 50051
      protocol: TCP
      name: http
      nodePort: {{ .Values.tsmAgent.service.nodePort }}
  selector:
    app.kubernetes.io/name: tsm-agent
