apiVersion: v1
kind: Service
metadata:
  name: webgui
  labels:
    app.kubernetes.io/name: webgui
spec:
  type: {{ .Values.webGUI.service.type }}
  ports:
    - port: {{ .Values.webGUI.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
      nodePort: {{ .Values.webGUI.service.nodePort }}
  selector:
    app.kubernetes.io/name: webgui
